name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions:
  id-token: write
  contents: read

jobs:
  pulumi:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.ref }}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: yarn
          cache-dependency-path: yarn.lock

      - run: yarn install --frozen-lockfile

      - uses: pulumi/auth-actions@v1
        with:
          organization: UnstoppableMango
          requested-token-type: urn:pulumi:token-type:access_token:personal
          scope: user:UnstoppableMango

      - uses: pulumi/actions@v6
        with:
          command: ${{ github.event_name == 'pull_request' && 'preview' || 'up' }}
          stack-name: UnstoppableMango/github/prod
          refresh: true
          pulumi-version-file: .versions/pulumi
          expect-no-changes: ${{ github.actor == 'renovate[bot]' || github.actor == 'thecluster[bot]' }}

  dprint:
    runs-on: ubuntu-latest
    env:
      # renovate: datasource=github-releases depName=dprint/dprint
      DPRINT_VERSION: 0.50.2
    steps:
      - uses: actions/checkout@v6

      - uses: dprint/check@v2.3
        with:
          dprint-version: ${{ env.DPRINT_VERSION }}

  nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: cachix/install-nix-action@v31.9.0
        with:
          github_access_token: ${{ github.token }}

      - run: nix flake check --all-systems
